<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <h1>Contact Now</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Enter Name" name="username">
            <input type="email" placeholder="Enter Email" name="email" id="">
            <button type="submit">Send Message</button>
        </form>
    </main>
</body>

</html>